java/cfbamxml23/xsd/cfsecurity-23-structured.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="uri://net.sourceforge.msscodefactory.cfsecurity.v2_3/cfsecurityloader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified" targetNamespace="uri://net.sourceforge.msscodefactory.cfsecurity.v2_3/cfsecurityloader" version="$Revision$">

<xsd:annotation>
	<xsd:documentation xml:lang="en">
		CFSecurity schema CFSecurity
	</xsd:documentation>
</xsd:annotation>

<!-- ************************************************************************
 *
 *	Schema Atomic Types
 *
 **************************************************************************-->

<xsd:simpleType name="ISOCountryCodeType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="2"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCountryCode3Type">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="3"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCountryEnumType">
	<xsd:restriction base="xsd:token">
		<xsd:minLength value="1"/>
		<xsd:maxLength value="127"/>
		<xsd:whiteSpace value="collapse"/>
		<xsd:enumeration value="AalandIslands"/>
		<xsd:enumeration value="Afghanistan"/>
		<xsd:enumeration value="Albania"/>
		<xsd:enumeration value="Algeria"/>
		<xsd:enumeration value="AmericanSamoa"/>
		<xsd:enumeration value="Andorra"/>
		<xsd:enumeration value="Angola"/>
		<xsd:enumeration value="Anguilla"/>
		<xsd:enumeration value="Antarctica"/>
		<xsd:enumeration value="AntiguaAndBarbuda"/>
		<xsd:enumeration value="Argentina"/>
		<xsd:enumeration value="Armenia"/>
		<xsd:enumeration value="Aruba"/>
		<xsd:enumeration value="Australia"/>
		<xsd:enumeration value="Austria"/>
		<xsd:enumeration value="Azerbaijan"/>
		<xsd:enumeration value="Bahamas"/>
		<xsd:enumeration value="Bahrain"/>
		<xsd:enumeration value="Bangladesh"/>
		<xsd:enumeration value="Barbados"/>
		<xsd:enumeration value="Belarus"/>
		<xsd:enumeration value="Belgium"/>
		<xsd:enumeration value="Belize"/>
		<xsd:enumeration value="Benin"/>
		<xsd:enumeration value="Bermuda"/>
		<xsd:enumeration value="Bhutan"/>
		<xsd:enumeration value="Bolivia"/>
		<xsd:enumeration value="BosniaAndHerzegowina"/>
		<xsd:enumeration value="Botswana"/>
		<xsd:enumeration value="BouvetIsland"/>
		<xsd:enumeration value="Brazil"/>
		<xsd:enumeration value="BritishIndianOceanTerritory"/>
		<xsd:enumeration value="BruneiDarussalam"/>
		<xsd:enumeration value="Bulgaria"/>
		<xsd:enumeration value="BurkinaFaso"/>
		<xsd:enumeration value="Burundi"/>
		<xsd:enumeration value="Cambodia"/>
		<xsd:enumeration value="Cameroon"/>
		<xsd:enumeration value="Canada"/>
		<xsd:enumeration value="CapeVerde"/>
		<xsd:enumeration value="CaymanIslands"/>
		<xsd:enumeration value="CentralAfricanRepublic"/>
		<xsd:enumeration value="Chad"/>
		<xsd:enumeration value="Chile"/>
		<xsd:enumeration value="China"/>
		<xsd:enumeration value="ChristmasIsland"/>
		<xsd:enumeration value="Cocos(Keeling) Islands"/>
		<xsd:enumeration value="Colombia"/>
		<xsd:enumeration value="Comoros"/>
		<xsd:enumeration value="CongoDemocraticRepublicof"/>
		<xsd:enumeration value="CongoRepublicof"/>
		<xsd:enumeration value="CookIslands"/>
		<xsd:enumeration value="CostaRica"/>
		<xsd:enumeration value="CoteDivoire"/>
		<xsd:enumeration value="Croatia"/>
		<xsd:enumeration value="Cuba"/>
		<xsd:enumeration value="Cyprus"/>
		<xsd:enumeration value="CzechRepublic"/>
		<xsd:enumeration value="Denmark"/>
		<xsd:enumeration value="Djibouti"/>
		<xsd:enumeration value="Dominica"/>
		<xsd:enumeration value="DominicanRepublic"/>
		<xsd:enumeration value="Ecuador"/>
		<xsd:enumeration value="Egypt"/>
		<xsd:enumeration value="ElSalvador"/>
		<xsd:enumeration value="EquatorialGuinea"/>
		<xsd:enumeration value="Eritrea"/>
		<xsd:enumeration value="Estonia"/>
		<xsd:enumeration value="Ethiopia"/>
		<xsd:enumeration value="FalklandIslands"/>
		<xsd:enumeration value="FaroeIslands"/>
		<xsd:enumeration value="Fiji"/>
		<xsd:enumeration value="Finland"/>
		<xsd:enumeration value="France"/>
		<xsd:enumeration value="FrenchGuiana"/>
		<xsd:enumeration value="FrenchPolynesia"/>
		<xsd:enumeration value="FrenchSouthernTerritories"/>
		<xsd:enumeration value="Gabon"/>
		<xsd:enumeration value="Gambia"/>
		<xsd:enumeration value="Georgia"/>
		<xsd:enumeration value="Germany"/>
		<xsd:enumeration value="Ghana"/>
		<xsd:enumeration value="Gibraltar"/>
		<xsd:enumeration value="Greece"/>
		<xsd:enumeration value="Greenland"/>
		<xsd:enumeration value="Grenada"/>
		<xsd:enumeration value="Guadeloupe"/>
		<xsd:enumeration value="Guam"/>
		<xsd:enumeration value="Guatemala"/>
		<xsd:enumeration value="Guinea"/>
		<xsd:enumeration value="GuineaBissau"/>
		<xsd:enumeration value="Guyana"/>
		<xsd:enumeration value="Haiti"/>
		<xsd:enumeration value="HeardAndMcDonaldIslands"/>
		<xsd:enumeration value="Honduras"/>
		<xsd:enumeration value="HongKong"/>
		<xsd:enumeration value="Hungary"/>
		<xsd:enumeration value="Iceland"/>
		<xsd:enumeration value="India"/>
		<xsd:enumeration value="Indonesia"/>
		<xsd:enumeration value="Iran"/>
		<xsd:enumeration value="Iraq"/>
		<xsd:enumeration value="Ireland"/>
		<xsd:enumeration value="Israel"/>
		<xsd:enumeration value="Italy"/>
		<xsd:enumeration value="Jamaica"/>
		<xsd:enumeration value="Japan"/>
		<xsd:enumeration value="Jordan"/>
		<xsd:enumeration value="Kazakhstan"/>
		<xsd:enumeration value="Kenya"/>
		<xsd:enumeration value="Kiribati"/>
		<xsd:enumeration value="KoreaDPR"/>
		<xsd:enumeration value="KoreaRepublicOf"/>
		<xsd:enumeration value="Kuwait"/>
		<xsd:enumeration value="Kyrgyzstan"/>
		<xsd:enumeration value="Lao"/>
		<xsd:enumeration value="Latvia"/>
		<xsd:enumeration value="Lebanon"/>
		<xsd:enumeration value="Lesotho"/>
		<xsd:enumeration value="Liberia"/>
		<xsd:enumeration value="LibyanArabJamahiriya"/>
		<xsd:enumeration value="Liechtenstein"/>
		<xsd:enumeration value="Lithuania"/>
		<xsd:enumeration value="Luxembourg"/>
		<xsd:enumeration value="Macau"/>
		<xsd:enumeration value="Macedonia"/>
		<xsd:enumeration value="Madagascar"/>
		<xsd:enumeration value="Malawi"/>
		<xsd:enumeration value="Malaysia"/>
		<xsd:enumeration value="Maldives"/>
		<xsd:enumeration value="Mali"/>
		<xsd:enumeration value="Malta"/>
		<xsd:enumeration value="MarshallIslands"/>
		<xsd:enumeration value="Martinique"/>
		<xsd:enumeration value="Mauritania"/>
		<xsd:enumeration value="Mauritius"/>
		<xsd:enumeration value="Mayotte"/>
		<xsd:enumeration value="Mexico"/>
		<xsd:enumeration value="Micronesia"/>
		<xsd:enumeration value="Moldova"/>
		<xsd:enumeration value="Monaco"/>
		<xsd:enumeration value="Mongolia"/>
		<xsd:enumeration value="Montserrat"/>
		<xsd:enumeration value="Morocco"/>
		<xsd:enumeration value="Mozambique"/>
		<xsd:enumeration value="Myanmar"/>
		<xsd:enumeration value="Namibia"/>
		<xsd:enumeration value="Nauru"/>
		<xsd:enumeration value="Nepal"/>
		<xsd:enumeration value="Netherlands"/>
		<xsd:enumeration value="NetherlandsAntilles"/>
		<xsd:enumeration value="NewCaledonia"/>
		<xsd:enumeration value="NewZealand"/>
		<xsd:enumeration value="Nicaragua"/>
		<xsd:enumeration value="Niger"/>
		<xsd:enumeration value="Nigeria"/>
		<xsd:enumeration value="Niue"/>
		<xsd:enumeration value="NorfolkIsland"/>
		<xsd:enumeration value="NorthernMarianaIslands"/>
		<xsd:enumeration value="Norway"/>
		<xsd:enumeration value="Oman"/>
		<xsd:enumeration value="Pakistan"/>
		<xsd:enumeration value="Palau"/>
		<xsd:enumeration value="Palestine"/>
		<xsd:enumeration value="Panama"/>
		<xsd:enumeration value="PapuaNewGuinea"/>
		<xsd:enumeration value="Paraguay"/>
		<xsd:enumeration value="Peru"/>
		<xsd:enumeration value="Philippines"/>
		<xsd:enumeration value="Pitcairn"/>
		<xsd:enumeration value="Poland"/>
		<xsd:enumeration value="Portugal"/>
		<xsd:enumeration value="PuertoRico"/>
		<xsd:enumeration value="Qatar"/>
		<xsd:enumeration value="Reunion"/>
		<xsd:enumeration value="Romania"/>
		<xsd:enumeration value="RussianFederation"/>
		<xsd:enumeration value="Rwanda"/>
		<xsd:enumeration value="SaintHelena"/>
		<xsd:enumeration value="SaintKittsAndNevis"/>
		<xsd:enumeration value="SaintLucia"/>
		<xsd:enumeration value="SaintPierreAndMiquelon"/>
		<xsd:enumeration value="SaintVincentAndTheGrenadines"/>
		<xsd:enumeration value="Samoa"/>
		<xsd:enumeration value="SanMarino"/>
		<xsd:enumeration value="SaoTomeAndPrincipe"/>
		<xsd:enumeration value="SaudiArabia"/>
		<xsd:enumeration value="Senegal"/>
		<xsd:enumeration value="SerbiaAndMontenegro"/>
		<xsd:enumeration value="Seychelles"/>
		<xsd:enumeration value="SierraLeone"/>
		<xsd:enumeration value="Singapore"/>
		<xsd:enumeration value="Slovakia"/>
		<xsd:enumeration value="Slovenia"/>
		<xsd:enumeration value="SolomonIslands"/>
		<xsd:enumeration value="Somalia"/>
		<xsd:enumeration value="SouthAfrica"/>
		<xsd:enumeration value="SouthGeorgiaSouthSandwichIslands"/>
		<xsd:enumeration value="Spain"/>
		<xsd:enumeration value="SriLanka"/>
		<xsd:enumeration value="Sudan"/>
		<xsd:enumeration value="Suriname"/>
		<xsd:enumeration value="SvalbardAndJanMayenIslands"/>
		<xsd:enumeration value="Swaziland"/>
		<xsd:enumeration value="Sweden"/>
		<xsd:enumeration value="Switzerland"/>
		<xsd:enumeration value="SyrianArabRepublic"/>
		<xsd:enumeration value="Taiwan"/>
		<xsd:enumeration value="Tajikistan"/>
		<xsd:enumeration value="Tanzania"/>
		<xsd:enumeration value="Thailand"/>
		<xsd:enumeration value="TimorLeste"/>
		<xsd:enumeration value="Togo"/>
		<xsd:enumeration value="Tokelau"/>
		<xsd:enumeration value="Tonga"/>
		<xsd:enumeration value="TrinidadAndTobago"/>
		<xsd:enumeration value="Tunisia"/>
		<xsd:enumeration value="Turkey"/>
		<xsd:enumeration value="Turkmenistan"/>
		<xsd:enumeration value="TurksAndCaicosIslands"/>
		<xsd:enumeration value="Tuvalu"/>
		<xsd:enumeration value="Uganda"/>
		<xsd:enumeration value="Ukraine"/>
		<xsd:enumeration value="UnitedArabEmirates"/>
		<xsd:enumeration value="UnitedKingdom"/>
		<xsd:enumeration value="UnitedStates"/>
		<xsd:enumeration value="UnitedStatesMinorOutlyingIslands"/>
		<xsd:enumeration value="Uruguay"/>
		<xsd:enumeration value="Uzbekistan"/>
		<xsd:enumeration value="Vanuatu"/>
		<xsd:enumeration value="VaticanCityState"/>
		<xsd:enumeration value="Venezuela"/>
		<xsd:enumeration value="VietNam"/>
		<xsd:enumeration value="VirginIslandsBritish"/>
		<xsd:enumeration value="VirginIslandsUS"/>
		<xsd:enumeration value="WallisAndFutunaIslands"/>
		<xsd:enumeration value="WesternSahara"/>
		<xsd:enumeration value="Yemen"/>
		<xsd:enumeration value="Zambia"/>
		<xsd:enumeration value="Zimbabwe"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCurrencyEnumType">
	<xsd:restriction base="xsd:token">
		<xsd:minLength value="1"/>
		<xsd:maxLength value="127"/>
		<xsd:whiteSpace value="collapse"/>
		<xsd:enumeration value="AED"/>
		<xsd:enumeration value="AFN"/>
		<xsd:enumeration value="ALL"/>
		<xsd:enumeration value="AMD"/>
		<xsd:enumeration value="ANG"/>
		<xsd:enumeration value="AOA"/>
		<xsd:enumeration value="ARS"/>
		<xsd:enumeration value="AUD"/>
		<xsd:enumeration value="AWG"/>
		<xsd:enumeration value="AZN"/>
		<xsd:enumeration value="BAM"/>
		<xsd:enumeration value="BBD"/>
		<xsd:enumeration value="BDT"/>
		<xsd:enumeration value="BGN"/>
		<xsd:enumeration value="BHD"/>
		<xsd:enumeration value="BIF"/>
		<xsd:enumeration value="BMD"/>
		<xsd:enumeration value="BND"/>
		<xsd:enumeration value="BOB"/>
		<xsd:enumeration value="BOV"/>
		<xsd:enumeration value="BRL"/>
		<xsd:enumeration value="BSD"/>
		<xsd:enumeration value="BTN"/>
		<xsd:enumeration value="BWP"/>
		<xsd:enumeration value="BYR"/>
		<xsd:enumeration value="BZD"/>
		<xsd:enumeration value="CAD"/>
		<xsd:enumeration value="CDF"/>
		<xsd:enumeration value="CHE"/>
		<xsd:enumeration value="CHF"/>
		<xsd:enumeration value="CHW"/>
		<xsd:enumeration value="CLF"/>
		<xsd:enumeration value="CLP"/>
		<xsd:enumeration value="CNY"/>
		<xsd:enumeration value="COP"/>
		<xsd:enumeration value="COU"/>
		<xsd:enumeration value="CRC"/>
		<xsd:enumeration value="CUC"/>
		<xsd:enumeration value="CUP"/>
		<xsd:enumeration value="CVE"/>
		<xsd:enumeration value="CZK"/>
		<xsd:enumeration value="DJF"/>
		<xsd:enumeration value="DKK"/>
		<xsd:enumeration value="DOP"/>
		<xsd:enumeration value="DZD"/>
		<xsd:enumeration value="EGP"/>
		<xsd:enumeration value="ERN"/>
		<xsd:enumeration value="ETB"/>
		<xsd:enumeration value="EUR"/>
		<xsd:enumeration value="FJD"/>
		<xsd:enumeration value="FKP"/>
		<xsd:enumeration value="GBP"/>
		<xsd:enumeration value="GEL"/>
		<xsd:enumeration value="GHS"/>
		<xsd:enumeration value="GIP"/>
		<xsd:enumeration value="GMD"/>
		<xsd:enumeration value="GNF"/>
		<xsd:enumeration value="GTQ"/>
		<xsd:enumeration value="GYD"/>
		<xsd:enumeration value="HKD"/>
		<xsd:enumeration value="HNL"/>
		<xsd:enumeration value="HRK"/>
		<xsd:enumeration value="HTG"/>
		<xsd:enumeration value="HUF"/>
		<xsd:enumeration value="IDR"/>
		<xsd:enumeration value="ILS"/>
		<xsd:enumeration value="INR"/>
		<xsd:enumeration value="IQD"/>
		<xsd:enumeration value="IRR"/>
		<xsd:enumeration value="ISK"/>
		<xsd:enumeration value="JMD"/>
		<xsd:enumeration value="JOD"/>
		<xsd:enumeration value="JPY"/>
		<xsd:enumeration value="KES"/>
		<xsd:enumeration value="KGS"/>
		<xsd:enumeration value="KHR"/>
		<xsd:enumeration value="KMF"/>
		<xsd:enumeration value="KPW"/>
		<xsd:enumeration value="KRW"/>
		<xsd:enumeration value="KWD"/>
		<xsd:enumeration value="KYD"/>
		<xsd:enumeration value="KZT"/>
		<xsd:enumeration value="LAK"/>
		<xsd:enumeration value="LBP"/>
		<xsd:enumeration value="LKR"/>
		<xsd:enumeration value="LRD"/>
		<xsd:enumeration value="LSL"/>
		<xsd:enumeration value="LTL"/>
		<xsd:enumeration value="LYD"/>
		<xsd:enumeration value="MAD"/>
		<xsd:enumeration value="MDL"/>
		<xsd:enumeration value="MGA"/>
		<xsd:enumeration value="MKD"/>
		<xsd:enumeration value="MMK"/>
		<xsd:enumeration value="MNT"/>
		<xsd:enumeration value="MOP"/>
		<xsd:enumeration value="MRO"/>
		<xsd:enumeration value="MUR"/>
		<xsd:enumeration value="MVR"/>
		<xsd:enumeration value="MWK"/>
		<xsd:enumeration value="MXN"/>
		<xsd:enumeration value="MXV"/>
		<xsd:enumeration value="MYR"/>
		<xsd:enumeration value="MZN"/>
		<xsd:enumeration value="NAD"/>
		<xsd:enumeration value="NGN"/>
		<xsd:enumeration value="NIO"/>
		<xsd:enumeration value="NOK"/>
		<xsd:enumeration value="NPR"/>
		<xsd:enumeration value="NZD"/>
		<xsd:enumeration value="OMR"/>
		<xsd:enumeration value="PAB"/>
		<xsd:enumeration value="PEN"/>
		<xsd:enumeration value="PGK"/>
		<xsd:enumeration value="PHP"/>
		<xsd:enumeration value="PKR"/>
		<xsd:enumeration value="PLN"/>
		<xsd:enumeration value="PYG"/>
		<xsd:enumeration value="QAR"/>
		<xsd:enumeration value="RON"/>
		<xsd:enumeration value="RSD"/>
		<xsd:enumeration value="RUB"/>
		<xsd:enumeration value="RWF"/>
		<xsd:enumeration value="SAR"/>
		<xsd:enumeration value="SBD"/>
		<xsd:enumeration value="SCR"/>
		<xsd:enumeration value="SDG"/>
		<xsd:enumeration value="SEK"/>
		<xsd:enumeration value="SGD"/>
		<xsd:enumeration value="SHP"/>
		<xsd:enumeration value="SLL"/>
		<xsd:enumeration value="SOS"/>
		<xsd:enumeration value="SRD"/>
		<xsd:enumeration value="SSP"/>
		<xsd:enumeration value="STD"/>
		<xsd:enumeration value="SYP"/>
		<xsd:enumeration value="SZL"/>
		<xsd:enumeration value="THB"/>
		<xsd:enumeration value="TJS"/>
		<xsd:enumeration value="TMT"/>
		<xsd:enumeration value="TND"/>
		<xsd:enumeration value="TOP"/>
		<xsd:enumeration value="TRY"/>
		<xsd:enumeration value="TTD"/>
		<xsd:enumeration value="TWD"/>
		<xsd:enumeration value="TZS"/>
		<xsd:enumeration value="UAH"/>
		<xsd:enumeration value="UGX"/>
		<xsd:enumeration value="USD"/>
		<xsd:enumeration value="USN"/>
		<xsd:enumeration value="USS"/>
		<xsd:enumeration value="UYI"/>
		<xsd:enumeration value="UYU"/>
		<xsd:enumeration value="UZS"/>
		<xsd:enumeration value="VEF"/>
		<xsd:enumeration value="VND"/>
		<xsd:enumeration value="VUV"/>
		<xsd:enumeration value="WST"/>
		<xsd:enumeration value="XAF"/>
		<xsd:enumeration value="XAG"/>
		<xsd:enumeration value="XAU"/>
		<xsd:enumeration value="XBA"/>
		<xsd:enumeration value="XBB"/>
		<xsd:enumeration value="XBC"/>
		<xsd:enumeration value="XBD"/>
		<xsd:enumeration value="XCD"/>
		<xsd:enumeration value="XDR"/>
		<xsd:enumeration value="XFU"/>
		<xsd:enumeration value="XOF"/>
		<xsd:enumeration value="XPD"/>
		<xsd:enumeration value="XPF"/>
		<xsd:enumeration value="XPT"/>
		<xsd:enumeration value="XTS"/>
		<xsd:enumeration value="XXX"/>
		<xsd:enumeration value="YER"/>
		<xsd:enumeration value="ZAR"/>
		<xsd:enumeration value="ZMW"/>
		<xsd:enumeration value="ZWD"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCurrencyCodeType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="3"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOLanguageEnumType">
	<xsd:restriction base="xsd:token">
		<xsd:minLength value="1"/>
		<xsd:maxLength value="127"/>
		<xsd:whiteSpace value="collapse"/>
		<xsd:enumeration value="en"/>
		<xsd:enumeration value="en_au"/>
		<xsd:enumeration value="en_ca"/>
		<xsd:enumeration value="en_uk"/>
		<xsd:enumeration value="en_us"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOBaseLanguageCodeType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="2"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOLanguageCodeType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="5"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOTimezoneEnumType">
	<xsd:restriction base="xsd:token">
		<xsd:minLength value="1"/>
		<xsd:maxLength value="127"/>
		<xsd:whiteSpace value="collapse"/>
		<xsd:enumeration value="N1200"/>
		<xsd:enumeration value="N1130"/>
		<xsd:enumeration value="N1100"/>
		<xsd:enumeration value="N1030"/>
		<xsd:enumeration value="N1000"/>
		<xsd:enumeration value="N0930"/>
		<xsd:enumeration value="N0900"/>
		<xsd:enumeration value="N0830"/>
		<xsd:enumeration value="N0800"/>
		<xsd:enumeration value="N0730"/>
		<xsd:enumeration value="N0700"/>
		<xsd:enumeration value="N0630"/>
		<xsd:enumeration value="N0600"/>
		<xsd:enumeration value="N0530"/>
		<xsd:enumeration value="N0500"/>
		<xsd:enumeration value="N0430"/>
		<xsd:enumeration value="N0400"/>
		<xsd:enumeration value="N0330"/>
		<xsd:enumeration value="N0300"/>
		<xsd:enumeration value="N0230"/>
		<xsd:enumeration value="N0200"/>
		<xsd:enumeration value="N0130"/>
		<xsd:enumeration value="N0100"/>
		<xsd:enumeration value="N0030"/>
		<xsd:enumeration value="N0000"/>
		<xsd:enumeration value="P0000"/>
		<xsd:enumeration value="P0030"/>
		<xsd:enumeration value="P0100"/>
		<xsd:enumeration value="P0130"/>
		<xsd:enumeration value="P0200"/>
		<xsd:enumeration value="P0230"/>
		<xsd:enumeration value="P0300"/>
		<xsd:enumeration value="P0330"/>
		<xsd:enumeration value="P0400"/>
		<xsd:enumeration value="P0430"/>
		<xsd:enumeration value="P0500"/>
		<xsd:enumeration value="P0530"/>
		<xsd:enumeration value="P0600"/>
		<xsd:enumeration value="P0630"/>
		<xsd:enumeration value="P0700"/>
		<xsd:enumeration value="P0730"/>
		<xsd:enumeration value="P0800"/>
		<xsd:enumeration value="P0830"/>
		<xsd:enumeration value="P0900"/>
		<xsd:enumeration value="P0930"/>
		<xsd:enumeration value="P1000"/>
		<xsd:enumeration value="P1030"/>
		<xsd:enumeration value="P1100"/>
		<xsd:enumeration value="P1130"/>
		<xsd:enumeration value="P1200"/>
		<xsd:enumeration value="CET"/>
		<xsd:enumeration value="CST6"/>
		<xsd:enumeration value="CST6CDT"/>
		<xsd:enumeration value="Cuba"/>
		<xsd:enumeration value="EET"/>
		<xsd:enumeration value="Egypt"/>
		<xsd:enumeration value="Eire"/>
		<xsd:enumeration value="EST"/>
		<xsd:enumeration value="EST5EDT"/>
		<xsd:enumeration value="GB"/>
		<xsd:enumeration value="GB_Eire"/>
		<xsd:enumeration value="GMT"/>
		<xsd:enumeration value="GMT0"/>
		<xsd:enumeration value="Greenwich"/>
		<xsd:enumeration value="Hongkong"/>
		<xsd:enumeration value="HST"/>
		<xsd:enumeration value="Iceland"/>
		<xsd:enumeration value="Iran"/>
		<xsd:enumeration value="Israel"/>
		<xsd:enumeration value="Jamaica"/>
		<xsd:enumeration value="Japan"/>
		<xsd:enumeration value="Kwajalein"/>
		<xsd:enumeration value="Libya"/>
		<xsd:enumeration value="MET"/>
		<xsd:enumeration value="MST"/>
		<xsd:enumeration value="MST7MDT"/>
		<xsd:enumeration value="Navajo"/>
		<xsd:enumeration value="NZ"/>
		<xsd:enumeration value="NZ_CHAT"/>
		<xsd:enumeration value="Poland"/>
		<xsd:enumeration value="Portugal"/>
		<xsd:enumeration value="PRC"/>
		<xsd:enumeration value="PST8PDT"/>
		<xsd:enumeration value="ROC"/>
		<xsd:enumeration value="ROK"/>
		<xsd:enumeration value="Singapore"/>
		<xsd:enumeration value="Turkey"/>
		<xsd:enumeration value="UCT"/>
		<xsd:enumeration value="Universal"/>
		<xsd:enumeration value="UTC"/>
		<xsd:enumeration value="WET"/>
		<xsd:enumeration value="Zulu"/>
		<xsd:enumeration value="Africa_Abidjan"/>
		<xsd:enumeration value="Africa_Accra"/>
		<xsd:enumeration value="Africa_Addis_Ababa"/>
		<xsd:enumeration value="Africa_Algiers"/>
		<xsd:enumeration value="Africa_Asmara"/>
		<xsd:enumeration value="Africa_Asmera"/>
		<xsd:enumeration value="Africa_Bamako"/>
		<xsd:enumeration value="Africa_Bangui"/>
		<xsd:enumeration value="Africa_Banjul"/>
		<xsd:enumeration value="Africa_Bissau"/>
		<xsd:enumeration value="Africa_Blantyre"/>
		<xsd:enumeration value="Africa_Brazzaville"/>
		<xsd:enumeration value="Africa_Bujumbura"/>
		<xsd:enumeration value="Africa_Cairo"/>
		<xsd:enumeration value="Africa_Casablanca"/>
		<xsd:enumeration value="Africa_Ceuta"/>
		<xsd:enumeration value="Africa_Conakry"/>
		<xsd:enumeration value="Africa_Dakar"/>
		<xsd:enumeration value="Africa_Dar_es_Salaam"/>
		<xsd:enumeration value="Africa_Djibouti"/>
		<xsd:enumeration value="Africa_Douala"/>
		<xsd:enumeration value="Africa_El_Aaiun"/>
		<xsd:enumeration value="Africa_Freetown"/>
		<xsd:enumeration value="Africa_Gaborone"/>
		<xsd:enumeration value="Africa_Harare"/>
		<xsd:enumeration value="Africa_Johannesburg"/>
		<xsd:enumeration value="Africa_Juba"/>
		<xsd:enumeration value="Africa_Kampala"/>
		<xsd:enumeration value="Africa_Khartoum"/>
		<xsd:enumeration value="Africa_Kigali"/>
		<xsd:enumeration value="Africa_Kinshasa"/>
		<xsd:enumeration value="Africa_Lagos"/>
		<xsd:enumeration value="Africa_Libreville"/>
		<xsd:enumeration value="Africa_Lome"/>
		<xsd:enumeration value="Africa_Luanda"/>
		<xsd:enumeration value="Africa_Lubumbashi"/>
		<xsd:enumeration value="Africa_Lusaka"/>
		<xsd:enumeration value="Africa_Malabo"/>
		<xsd:enumeration value="Africa_Maputo"/>
		<xsd:enumeration value="Africa_Maseru"/>
		<xsd:enumeration value="Africa_Mbabane"/>
		<xsd:enumeration value="Africa_Mogadishu"/>
		<xsd:enumeration value="Africa_Monrovia"/>
		<xsd:enumeration value="Africa_Nairobi"/>
		<xsd:enumeration value="Africa_Ndjamena"/>
		<xsd:enumeration value="Africa_Niamey"/>
		<xsd:enumeration value="Africa_Nouakchott"/>
		<xsd:enumeration value="Africa_Ouagadougou"/>
		<xsd:enumeration value="Africa_Porto_Novo"/>
		<xsd:enumeration value="Africa_Sao_Tome"/>
		<xsd:enumeration value="Africa_Timbuktu"/>
		<xsd:enumeration value="Africa_Tripoli"/>
		<xsd:enumeration value="Africa_Tunis"/>
		<xsd:enumeration value="Africa_Windhoek"/>
		<xsd:enumeration value="America_Adak"/>
		<xsd:enumeration value="America_Anchorage"/>
		<xsd:enumeration value="America_Anguilla"/>
		<xsd:enumeration value="America_Antigua"/>
		<xsd:enumeration value="America_Araguaina"/>
		<xsd:enumeration value="America_Argentina"/>
		<xsd:enumeration value="America_Aruba"/>
		<xsd:enumeration value="America_Asuncion"/>
		<xsd:enumeration value="America_Atikokan"/>
		<xsd:enumeration value="America_Atka"/>
		<xsd:enumeration value="America_Bahia"/>
		<xsd:enumeration value="America_Bahia_Banderas"/>
		<xsd:enumeration value="America_Barbados"/>
		<xsd:enumeration value="America_Belem"/>
		<xsd:enumeration value="America_Belize"/>
		<xsd:enumeration value="America_Blanc_Sablon"/>
		<xsd:enumeration value="America_Boa_Vista"/>
		<xsd:enumeration value="America_Bogota"/>
		<xsd:enumeration value="America_Boise"/>
		<xsd:enumeration value="America_Buenos_Aires"/>
		<xsd:enumeration value="America_Cambridge_Bay"/>
		<xsd:enumeration value="America_Campo_Grande"/>
		<xsd:enumeration value="America_Cancun"/>
		<xsd:enumeration value="America_Caracas"/>
		<xsd:enumeration value="America_Catamarca"/>
		<xsd:enumeration value="America_Cayenne"/>
		<xsd:enumeration value="America_Cayman"/>
		<xsd:enumeration value="America_Chicago"/>
		<xsd:enumeration value="America_Chihuahua"/>
		<xsd:enumeration value="America_Coral_Harbour"/>
		<xsd:enumeration value="America_Cordoba"/>
		<xsd:enumeration value="America_Costa_Rica"/>
		<xsd:enumeration value="America_Creston"/>
		<xsd:enumeration value="America_Cuiaba"/>
		<xsd:enumeration value="America_Curacao"/>
		<xsd:enumeration value="America_Danmarkshavn"/>
		<xsd:enumeration value="America_Dawson"/>
		<xsd:enumeration value="America_Dawson_Creek"/>
		<xsd:enumeration value="America_Denver"/>
		<xsd:enumeration value="America_Detroit"/>
		<xsd:enumeration value="America_Dominica"/>
		<xsd:enumeration value="America_Edmonton"/>
		<xsd:enumeration value="America_Eirunepe"/>
		<xsd:enumeration value="America_El_Salvador"/>
		<xsd:enumeration value="America_Ensenada"/>
		<xsd:enumeration value="America_Fortaleza"/>
		<xsd:enumeration value="America_Fort_Wayne"/>
		<xsd:enumeration value="America_Glace_Bay"/>
		<xsd:enumeration value="America_Godthab"/>
		<xsd:enumeration value="America_Goose_Bay"/>
		<xsd:enumeration value="America_Grand_Turk"/>
		<xsd:enumeration value="America_Grenada"/>
		<xsd:enumeration value="America_Guadeloupe"/>
		<xsd:enumeration value="America_Guatemala"/>
		<xsd:enumeration value="America_Guayaquil"/>
		<xsd:enumeration value="America_Guyana"/>
		<xsd:enumeration value="America_Halifax"/>
		<xsd:enumeration value="America_Havana"/>
		<xsd:enumeration value="America_Hermosillo"/>
		<xsd:enumeration value="America_Indiana"/>
		<xsd:enumeration value="America_Indianapolis"/>
		<xsd:enumeration value="America_Inuvik"/>
		<xsd:enumeration value="America_Iqaluit"/>
		<xsd:enumeration value="America_Jamaica"/>
		<xsd:enumeration value="America_Jujuy"/>
		<xsd:enumeration value="America_Juneau"/>
		<xsd:enumeration value="America_Kentucky"/>
		<xsd:enumeration value="America_Knox_IN"/>
		<xsd:enumeration value="America_Kralendijk"/>
		<xsd:enumeration value="America_La_Paz"/>
		<xsd:enumeration value="America_Lima"/>
		<xsd:enumeration value="America_Los_Angeles"/>
		<xsd:enumeration value="America_Louisville"/>
		<xsd:enumeration value="America_Lower_Princes"/>
		<xsd:enumeration value="America_Maceio"/>
		<xsd:enumeration value="America_Managua"/>
		<xsd:enumeration value="America_Manaus"/>
		<xsd:enumeration value="America_Marigot"/>
		<xsd:enumeration value="America_Martinique"/>
		<xsd:enumeration value="America_Matamoros"/>
		<xsd:enumeration value="America_Mazatlan"/>
		<xsd:enumeration value="America_Mendoza"/>
		<xsd:enumeration value="America_Menominee"/>
		<xsd:enumeration value="America_Merida"/>
		<xsd:enumeration value="America_Metlakatla"/>
		<xsd:enumeration value="America_Mexico_City"/>
		<xsd:enumeration value="America_Miquelon"/>
		<xsd:enumeration value="America_Moncton"/>
		<xsd:enumeration value="America_Monterrey"/>
		<xsd:enumeration value="America_Montevideo"/>
		<xsd:enumeration value="America_Montreal"/>
		<xsd:enumeration value="America_Montserrat"/>
		<xsd:enumeration value="America_Nassau"/>
		<xsd:enumeration value="America_New_York"/>
		<xsd:enumeration value="America_Nipigon"/>
		<xsd:enumeration value="America_Nome"/>
		<xsd:enumeration value="America_Noronha"/>
		<xsd:enumeration value="America_North_Dakota"/>
		<xsd:enumeration value="America_Ojinaga"/>
		<xsd:enumeration value="America_Panama"/>
		<xsd:enumeration value="America_Pangnirtung"/>
		<xsd:enumeration value="America_Paramaribo"/>
		<xsd:enumeration value="America_Phoenix"/>
		<xsd:enumeration value="America_Port_au_Prince"/>
		<xsd:enumeration value="America_Porto_Acre"/>
		<xsd:enumeration value="America_Port_of_Spain"/>
		<xsd:enumeration value="America_Porto_Velho"/>
		<xsd:enumeration value="America_Puerto_Rico"/>
		<xsd:enumeration value="America_Rainy_River"/>
		<xsd:enumeration value="America_Rankin_Inlet"/>
		<xsd:enumeration value="America_Recife"/>
		<xsd:enumeration value="America_Regina"/>
		<xsd:enumeration value="America_Resolute"/>
		<xsd:enumeration value="America_Rio_Branco"/>
		<xsd:enumeration value="America_Rosario"/>
		<xsd:enumeration value="America_Santa_Isabel"/>
		<xsd:enumeration value="America_Santarem"/>
		<xsd:enumeration value="America_Santiago"/>
		<xsd:enumeration value="America_Santo_Domingo"/>
		<xsd:enumeration value="America_Sao_Paulo"/>
		<xsd:enumeration value="America_Scoresbysund"/>
		<xsd:enumeration value="America_Shiprock"/>
		<xsd:enumeration value="America_Sitka"/>
		<xsd:enumeration value="America_St_Barthelemy"/>
		<xsd:enumeration value="America_St_Johns"/>
		<xsd:enumeration value="America_St_Kitts"/>
		<xsd:enumeration value="America_St_Lucia"/>
		<xsd:enumeration value="America_St_Thomas"/>
		<xsd:enumeration value="America_St_Vincent"/>
		<xsd:enumeration value="America_Swift_Current"/>
		<xsd:enumeration value="America_Tegucigalpa"/>
		<xsd:enumeration value="America_Thule"/>
		<xsd:enumeration value="America_Thunder_Bay"/>
		<xsd:enumeration value="America_Tijuana"/>
		<xsd:enumeration value="America_Toronto"/>
		<xsd:enumeration value="America_Tortola"/>
		<xsd:enumeration value="America_Vancouver"/>
		<xsd:enumeration value="America_Virgin"/>
		<xsd:enumeration value="America_Whitehorse"/>
		<xsd:enumeration value="America_Winnipeg"/>
		<xsd:enumeration value="America_Yakutat"/>
		<xsd:enumeration value="America_Yellowknife"/>
		<xsd:enumeration value="Antarctica_Casey"/>
		<xsd:enumeration value="Antarctica_Davis"/>
		<xsd:enumeration value="Antarctica_DumontDUrville"/>
		<xsd:enumeration value="Antarctica_Macquarie"/>
		<xsd:enumeration value="Antarctica_Mawson"/>
		<xsd:enumeration value="Antarctica_McMurdo"/>
		<xsd:enumeration value="Antarctica_Palmer"/>
		<xsd:enumeration value="Antarctica_Rothera"/>
		<xsd:enumeration value="Antarctica_South_Pole"/>
		<xsd:enumeration value="Antarctica_Syowa"/>
		<xsd:enumeration value="Antarctica_Vostok"/>
		<xsd:enumeration value="Arctic_Longyearbyen"/>
		<xsd:enumeration value="Asia_Aden"/>
		<xsd:enumeration value="Asia_Almaty"/>
		<xsd:enumeration value="Asia_Amman"/>
		<xsd:enumeration value="Asia_Anadyr"/>
		<xsd:enumeration value="Asia_Aqtau"/>
		<xsd:enumeration value="Asia_Aqtobe"/>
		<xsd:enumeration value="Asia_Ashgabat"/>
		<xsd:enumeration value="Asia_Ashkhabad"/>
		<xsd:enumeration value="Asia_Baghdad"/>
		<xsd:enumeration value="Asia_Bahrain"/>
		<xsd:enumeration value="Asia_Baku"/>
		<xsd:enumeration value="Asia_Bangkok"/>
		<xsd:enumeration value="Asia_Beirut"/>
		<xsd:enumeration value="Asia_Bishkek"/>
		<xsd:enumeration value="Asia_Brunei"/>
		<xsd:enumeration value="Asia_Calcutta"/>
		<xsd:enumeration value="Asia_Choibalsan"/>
		<xsd:enumeration value="Asia_Chongqing"/>
		<xsd:enumeration value="Asia_Chungking"/>
		<xsd:enumeration value="Asia_Colombo"/>
		<xsd:enumeration value="Asia_Dacca"/>
		<xsd:enumeration value="Asia_Damascus"/>
		<xsd:enumeration value="Asia_Dhaka"/>
		<xsd:enumeration value="Asia_Dili"/>
		<xsd:enumeration value="Asia_Dubai"/>
		<xsd:enumeration value="Asia_Dushanbe"/>
		<xsd:enumeration value="Asia_Gaza"/>
		<xsd:enumeration value="Asia_Harbin"/>
		<xsd:enumeration value="Asia_Hebron"/>
		<xsd:enumeration value="Asia_Ho_Chi_Minh"/>
		<xsd:enumeration value="Asia_Hong_Kong"/>
		<xsd:enumeration value="Asia_Hovd"/>
		<xsd:enumeration value="Asia_Irkutsk"/>
		<xsd:enumeration value="Asia_Istanbul"/>
		<xsd:enumeration value="Asia_Jakarta"/>
		<xsd:enumeration value="Asia_Jayapura"/>
		<xsd:enumeration value="Asia_Jerusalem"/>
		<xsd:enumeration value="Asia_Kabul"/>
		<xsd:enumeration value="Asia_Kamchatka"/>
		<xsd:enumeration value="Asia_Karachi"/>
		<xsd:enumeration value="Asia_Kashgar"/>
		<xsd:enumeration value="Asia_Kathmandu"/>
		<xsd:enumeration value="Asia_Katmandu"/>
		<xsd:enumeration value="Asia_Kolkata"/>
		<xsd:enumeration value="Asia_Krasnoyarsk"/>
		<xsd:enumeration value="Asia_Kuala_Lumpur"/>
		<xsd:enumeration value="Asia_Kuching"/>
		<xsd:enumeration value="Asia_Kuwait"/>
		<xsd:enumeration value="Asia_Macao"/>
		<xsd:enumeration value="Asia_Macau"/>
		<xsd:enumeration value="Asia_Magadan"/>
		<xsd:enumeration value="Asia_Makassar"/>
		<xsd:enumeration value="Asia_Manila"/>
		<xsd:enumeration value="Asia_Muscat"/>
		<xsd:enumeration value="Asia_Nicosia"/>
		<xsd:enumeration value="Asia_Novokuznetsk"/>
		<xsd:enumeration value="Asia_Novosibirsk"/>
		<xsd:enumeration value="Asia_Omsk"/>
		<xsd:enumeration value="Asia_Oral"/>
		<xsd:enumeration value="Asia_Phnom_Penh"/>
		<xsd:enumeration value="Asia_Pontianak"/>
		<xsd:enumeration value="Asia_Pyongyang"/>
		<xsd:enumeration value="Asia_Qatar"/>
		<xsd:enumeration value="Asia_Qyzylorda"/>
		<xsd:enumeration value="Asia_Rangoon"/>
		<xsd:enumeration value="Asia_Riyadh"/>
		<xsd:enumeration value="Asia_Riyadh87"/>
		<xsd:enumeration value="Asia_Riyadh88"/>
		<xsd:enumeration value="Asia_Riyadh89"/>
		<xsd:enumeration value="Asia_Saigon"/>
		<xsd:enumeration value="Asia_Sakhalin"/>
		<xsd:enumeration value="Asia_Samarkand"/>
		<xsd:enumeration value="Asia_Seoul"/>
		<xsd:enumeration value="Asia_Shanghai"/>
		<xsd:enumeration value="Asia_Singapore"/>
		<xsd:enumeration value="Asia_Taipei"/>
		<xsd:enumeration value="Asia_Tashkent"/>
		<xsd:enumeration value="Asia_Tbilisi"/>
		<xsd:enumeration value="Asia_Tehran"/>
		<xsd:enumeration value="Asia_Tel_Aviv"/>
		<xsd:enumeration value="Asia_Thimbu"/>
		<xsd:enumeration value="Asia_Thimphu"/>
		<xsd:enumeration value="Asia_Tokyo"/>
		<xsd:enumeration value="Asia_Ujung_Pandang"/>
		<xsd:enumeration value="Asia_Ulaanbaatar"/>
		<xsd:enumeration value="Asia_Ulan_Bator"/>
		<xsd:enumeration value="Asia_Urumqi"/>
		<xsd:enumeration value="Asia_Vientiane"/>
		<xsd:enumeration value="Asia_Vladivostok"/>
		<xsd:enumeration value="Asia_Yakutsk"/>
		<xsd:enumeration value="Asia_Yekaterinburg"/>
		<xsd:enumeration value="Asia_Yerevan"/>
		<xsd:enumeration value="Atlantic_Azores"/>
		<xsd:enumeration value="Atlantic_Bermuda"/>
		<xsd:enumeration value="Atlantic_Canary"/>
		<xsd:enumeration value="Atlantic_Cape_Verde"/>
		<xsd:enumeration value="Atlantic_Faeroe"/>
		<xsd:enumeration value="Atlantic_Faroe"/>
		<xsd:enumeration value="Atlantic_Jan_Mayen"/>
		<xsd:enumeration value="Atlantic_Madeira"/>
		<xsd:enumeration value="Atlantic_Reykjavik"/>
		<xsd:enumeration value="Atlantic_South_Georgia"/>
		<xsd:enumeration value="Atlantic_Stanley"/>
		<xsd:enumeration value="Atlantic_St_Helena"/>
		<xsd:enumeration value="Australia_ACT"/>
		<xsd:enumeration value="Australia_Adelaide"/>
		<xsd:enumeration value="Australia_Brisbane"/>
		<xsd:enumeration value="Australia_Broken_Hill"/>
		<xsd:enumeration value="Australia_Canberra"/>
		<xsd:enumeration value="Australia_Currie"/>
		<xsd:enumeration value="Australia_Darwin"/>
		<xsd:enumeration value="Australia_Eucla"/>
		<xsd:enumeration value="Australia_Hobart"/>
		<xsd:enumeration value="Australia_LHI"/>
		<xsd:enumeration value="Australia_Lindeman"/>
		<xsd:enumeration value="Australia_Lord_Howe"/>
		<xsd:enumeration value="Australia_Melbourne"/>
		<xsd:enumeration value="Australia_North"/>
		<xsd:enumeration value="Australia_NSW"/>
		<xsd:enumeration value="Australia_Perth"/>
		<xsd:enumeration value="Australia_Queensland"/>
		<xsd:enumeration value="Australia_South"/>
		<xsd:enumeration value="Australia_Sydney"/>
		<xsd:enumeration value="Australia_Tasmania"/>
		<xsd:enumeration value="Australia_Victoria"/>
		<xsd:enumeration value="Australia_West"/>
		<xsd:enumeration value="Australia_Yancowinna"/>
		<xsd:enumeration value="Brazil_Acre"/>
		<xsd:enumeration value="Brazil_DeNoronha"/>
		<xsd:enumeration value="Brazil_East"/>
		<xsd:enumeration value="Brazil_West"/>
		<xsd:enumeration value="Canada_Atlantic"/>
		<xsd:enumeration value="Canada_Central"/>
		<xsd:enumeration value="Canada_Eastern"/>
		<xsd:enumeration value="Canada_East_Saskatchewan"/>
		<xsd:enumeration value="Canada_Mountain"/>
		<xsd:enumeration value="Canada_Newfoundland"/>
		<xsd:enumeration value="Canada_Pacific"/>
		<xsd:enumeration value="Canada_Saskatchewan"/>
		<xsd:enumeration value="Canada_Yukon"/>
		<xsd:enumeration value="Chile_Continental"/>
		<xsd:enumeration value="Chile_EasterIsland"/>
		<xsd:enumeration value="Europe_Amsterdam"/>
		<xsd:enumeration value="Europe_Andorra"/>
		<xsd:enumeration value="Europe_Athens"/>
		<xsd:enumeration value="Europe_Belfast"/>
		<xsd:enumeration value="Europe_Belgrade"/>
		<xsd:enumeration value="Europe_Berlin"/>
		<xsd:enumeration value="Europe_Bratislava"/>
		<xsd:enumeration value="Europe_Brussels"/>
		<xsd:enumeration value="Europe_Bucharest"/>
		<xsd:enumeration value="Europe_Budapest"/>
		<xsd:enumeration value="Europe_Chisinau"/>
		<xsd:enumeration value="Europe_Copenhagen"/>
		<xsd:enumeration value="Europe_Dublin"/>
		<xsd:enumeration value="Europe_Gibraltar"/>
		<xsd:enumeration value="Europe_Guernsey"/>
		<xsd:enumeration value="Europe_Helsinki"/>
		<xsd:enumeration value="Europe_Isle_of_Man"/>
		<xsd:enumeration value="Europe_Istanbul"/>
		<xsd:enumeration value="Europe_Jersey"/>
		<xsd:enumeration value="Europe_Kaliningrad"/>
		<xsd:enumeration value="Europe_Kiev"/>
		<xsd:enumeration value="Europe_Lisbon"/>
		<xsd:enumeration value="Europe_Ljubljana"/>
		<xsd:enumeration value="Europe_London"/>
		<xsd:enumeration value="Europe_Luxembourg"/>
		<xsd:enumeration value="Europe_Madrid"/>
		<xsd:enumeration value="Europe_Malta"/>
		<xsd:enumeration value="Europe_Mariehamn"/>
		<xsd:enumeration value="Europe_Minsk"/>
		<xsd:enumeration value="Europe_Monaco"/>
		<xsd:enumeration value="Europe_Moscow"/>
		<xsd:enumeration value="Europe_Nicosia"/>
		<xsd:enumeration value="Europe_Oslo"/>
		<xsd:enumeration value="Europe_Paris"/>
		<xsd:enumeration value="Europe_Podgorica"/>
		<xsd:enumeration value="Europe_Prague"/>
		<xsd:enumeration value="Europe_Riga"/>
		<xsd:enumeration value="Europe_Rome"/>
		<xsd:enumeration value="Europe_Samara"/>
		<xsd:enumeration value="Europe_San_Marino"/>
		<xsd:enumeration value="Europe_Sarajevo"/>
		<xsd:enumeration value="Europe_Simferopol"/>
		<xsd:enumeration value="Europe_Skopje"/>
		<xsd:enumeration value="Europe_Sofia"/>
		<xsd:enumeration value="Europe_Stockholm"/>
		<xsd:enumeration value="Europe_Tallinn"/>
		<xsd:enumeration value="Europe_Tirane"/>
		<xsd:enumeration value="Europe_Tiraspol"/>
		<xsd:enumeration value="Europe_Uzhgorod"/>
		<xsd:enumeration value="Europe_Vaduz"/>
		<xsd:enumeration value="Europe_Vatican"/>
		<xsd:enumeration value="Europe_Vienna"/>
		<xsd:enumeration value="Europe_Vilnius"/>
		<xsd:enumeration value="Europe_Volgograd"/>
		<xsd:enumeration value="Europe_Warsaw"/>
		<xsd:enumeration value="Europe_Zagreb"/>
		<xsd:enumeration value="Europe_Zaporozhye"/>
		<xsd:enumeration value="Europe_Zurich"/>
		<xsd:enumeration value="Indian_Antananarivo"/>
		<xsd:enumeration value="Indian_Chagos"/>
		<xsd:enumeration value="Indian_Christmas"/>
		<xsd:enumeration value="Indian_Cocos"/>
		<xsd:enumeration value="Indian_Comoro"/>
		<xsd:enumeration value="Indian_Kerguelen"/>
		<xsd:enumeration value="Indian_Mahe"/>
		<xsd:enumeration value="Indian_Maldives"/>
		<xsd:enumeration value="Indian_Mauritius"/>
		<xsd:enumeration value="Indian_Mayotte"/>
		<xsd:enumeration value="Indian_Reunion"/>
		<xsd:enumeration value="Mexico_BajaNorte"/>
		<xsd:enumeration value="Mexico_BajaSur"/>
		<xsd:enumeration value="Mexico_General"/>
		<xsd:enumeration value="Mideast_Riyadh87"/>
		<xsd:enumeration value="Mideast_Riyadh88"/>
		<xsd:enumeration value="Mideast_Riyadh89"/>
		<xsd:enumeration value="Pacific_Apia"/>
		<xsd:enumeration value="Pacific_Auckland"/>
		<xsd:enumeration value="Pacific_Chatham"/>
		<xsd:enumeration value="Pacific_Chuuk"/>
		<xsd:enumeration value="Pacific_Easter"/>
		<xsd:enumeration value="Pacific_Efate"/>
		<xsd:enumeration value="Pacific_Enderbury"/>
		<xsd:enumeration value="Pacific_Fakaofo"/>
		<xsd:enumeration value="Pacific_Fiji"/>
		<xsd:enumeration value="Pacific_Funafuti"/>
		<xsd:enumeration value="Pacific_Galapagos"/>
		<xsd:enumeration value="Pacific_Gambier"/>
		<xsd:enumeration value="Pacific_Guadalcanal"/>
		<xsd:enumeration value="Pacific_Guam"/>
		<xsd:enumeration value="Pacific_Honolulu"/>
		<xsd:enumeration value="Pacific_Johnston"/>
		<xsd:enumeration value="Pacific_Kiritimati"/>
		<xsd:enumeration value="Pacific_Kosrae"/>
		<xsd:enumeration value="Pacific_Kwajalein"/>
		<xsd:enumeration value="Pacific_Majuro"/>
		<xsd:enumeration value="Pacific_Marquesas"/>
		<xsd:enumeration value="Pacific_Midway"/>
		<xsd:enumeration value="Pacific_Nauru"/>
		<xsd:enumeration value="Pacific_Niue"/>
		<xsd:enumeration value="Pacific_Norfolk"/>
		<xsd:enumeration value="Pacific_Noumea"/>
		<xsd:enumeration value="Pacific_Pago_Pago"/>
		<xsd:enumeration value="Pacific_Palau"/>
		<xsd:enumeration value="Pacific_Pitcairn"/>
		<xsd:enumeration value="Pacific_Pohnpei"/>
		<xsd:enumeration value="Pacific_Ponape"/>
		<xsd:enumeration value="Pacific_Port_Moresby"/>
		<xsd:enumeration value="Pacific_Rarotonga"/>
		<xsd:enumeration value="Pacific_Saipan"/>
		<xsd:enumeration value="Pacific_Samoa"/>
		<xsd:enumeration value="Pacific_Tahiti"/>
		<xsd:enumeration value="Pacific_Tarawa"/>
		<xsd:enumeration value="Pacific_Tongatapu"/>
		<xsd:enumeration value="Pacific_Truk"/>
		<xsd:enumeration value="Pacific_Wake"/>
		<xsd:enumeration value="Pacific_Wallis"/>
		<xsd:enumeration value="Pacific_Yap"/>
		<xsd:enumeration value="US_Alaska"/>
		<xsd:enumeration value="US_Aleutian"/>
		<xsd:enumeration value="US_Arizona"/>
		<xsd:enumeration value="US_Central"/>
		<xsd:enumeration value="US_Eastern"/>
		<xsd:enumeration value="US_East_Indiana"/>
		<xsd:enumeration value="US_Hawaii"/>
		<xsd:enumeration value="US_Indiana_Starke"/>
		<xsd:enumeration value="US_Michigan"/>
		<xsd:enumeration value="US_Mountain"/>
		<xsd:enumeration value="US_Pacific"/>
		<xsd:enumeration value="US_Pacific_New"/>
		<xsd:enumeration value="US_Samoa"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AuditActionEnumType">
	<xsd:restriction base="xsd:token">
		<xsd:minLength value="1"/>
		<xsd:maxLength value="127"/>
		<xsd:whiteSpace value="collapse"/>
		<xsd:enumeration value="Create"/>
		<xsd:enumeration value="Update"/>
		<xsd:enumeration value="Delete"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ServiceTypeIdGenType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ClusterIdGenType">
	<xsd:restriction base="xsd:long"/>
</xsd:simpleType>

<xsd:simpleType name="TenantIdGenType">
	<xsd:restriction base="xsd:long"/>
</xsd:simpleType>

<xsd:simpleType name="SecAppIdGenType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecFormIdGenType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupIdGenType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupMemberIdGenType">
	<xsd:restriction base="xsd:long"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupIncludeIdGenType">
	<xsd:restriction base="xsd:long"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupFormIdGenType">
	<xsd:restriction base="xsd:long"/>
</xsd:simpleType>

<xsd:simpleType name="SecSessionIdGenType">
	<xsd:restriction base="xsd:string"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserIdGenType">
	<xsd:restriction base="xsd:string"/>
</xsd:simpleType>

<xsd:simpleType name="ServiceIdGenType">
	<xsd:restriction base="xsd:long"/>
</xsd:simpleType>

<xsd:simpleType name="HostNodeIdGenType">
	<xsd:restriction base="xsd:long"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupIdGenType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupMemberIdGenType">
	<xsd:restriction base="xsd:long"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupIncludeIdGenType">
	<xsd:restriction base="xsd:long"/>
</xsd:simpleType>

<xsd:simpleType name="DeviceNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="127"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SHA512HexHashType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="256"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- ************************************************************************
 *
 *	Table Column Types
 *
 **************************************************************************-->

<xsd:simpleType name="AuditActionAuditActionIdType">
	<xsd:restriction base="AuditActionEnumType"/>
</xsd:simpleType>

<xsd:simpleType name="AuditActionDescriptionType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="50"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AuditActionRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ClusterIdType">
	<xsd:restriction base="ClusterIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="ClusterFullDomainNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="192"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ClusterDescriptionType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="128"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ClusterRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="HostNodeClusterIdType">
	<xsd:restriction base="ClusterIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="HostNodeHostNodeIdType">
	<xsd:restriction base="HostNodeIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="HostNodeDescriptionType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="255"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HostNodeHostNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="192"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="HostNodeRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCountryIdType">
	<xsd:restriction base="ISOCountryEnumType"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCountryISOCodeType">
	<xsd:restriction base="ISOCountryCodeType"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCountryNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="64"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCountryRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCountryCurrencyISOCountryIdType">
	<xsd:restriction base="ISOCountryEnumType"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCountryCurrencyISOCurrencyIdType">
	<xsd:restriction base="ISOCurrencyEnumType"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCountryCurrencyRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCountryLanguageISOCountryIdType">
	<xsd:restriction base="ISOCountryEnumType"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCountryLanguageISOLanguageIdType">
	<xsd:restriction base="ISOLanguageEnumType"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCountryLanguageRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCurrencyIdType">
	<xsd:restriction base="ISOCurrencyEnumType"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCurrencyISOCodeType">
	<xsd:restriction base="ISOCurrencyCodeType"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCurrencyNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="64"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCurrencyUnitSymbolType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="1"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCurrencyFracSymbolType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="1"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCurrencyPrecisType">
	<xsd:restriction base="xsd:short"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCurrencyRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ISOLanguageIdType">
	<xsd:restriction base="ISOLanguageEnumType"/>
</xsd:simpleType>

<xsd:simpleType name="ISOLanguageISOCodeType">
	<xsd:restriction base="ISOLanguageCodeType"/>
</xsd:simpleType>

<xsd:simpleType name="ISOLanguageBaseLanguageCodeType">
	<xsd:restriction base="ISOBaseLanguageCodeType"/>
</xsd:simpleType>

<xsd:simpleType name="ISOLanguageISOCountryIdType">
	<xsd:restriction base="ISOCountryEnumType"/>
</xsd:simpleType>

<xsd:simpleType name="ISOLanguageRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ISOTimezoneISOTimezoneIdType">
	<xsd:restriction base="ISOTimezoneEnumType"/>
</xsd:simpleType>

<xsd:simpleType name="ISOTimezoneIso8601Type">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="5"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOTimezoneTZNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="64"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOTimezoneTZHourOffsetType">
	<xsd:restriction base="xsd:short"/>
</xsd:simpleType>

<xsd:simpleType name="ISOTimezoneTZMinOffsetType">
	<xsd:restriction base="xsd:short"/>
</xsd:simpleType>

<xsd:simpleType name="ISOTimezoneDescriptionType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="128"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOTimezoneVisibleType">
	<xsd:restriction base="xsd:boolean"/>
</xsd:simpleType>

<xsd:simpleType name="ISOTimezoneRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecAppClusterIdType">
	<xsd:restriction base="ClusterIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecAppSecAppIdType">
	<xsd:restriction base="SecAppIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecAppJEEMountNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="192"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecAppRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecDeviceSecUserIdType">
	<xsd:restriction base="SecUserIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecDeviceDevNameType">
	<xsd:restriction base="DeviceNameType"/>
</xsd:simpleType>

<xsd:simpleType name="SecDevicePubKeyType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="10000"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecDeviceRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecFormClusterIdType">
	<xsd:restriction base="ClusterIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecFormSecFormIdType">
	<xsd:restriction base="SecFormIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecFormSecAppIdType">
	<xsd:restriction base="SecAppIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecFormJEEServletMapNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="192"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecFormRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupClusterIdType">
	<xsd:restriction base="ClusterIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupSecGroupIdType">
	<xsd:restriction base="SecGroupIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="64"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecGroupRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupFormClusterIdType">
	<xsd:restriction base="ClusterIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupFormSecGroupFormIdType">
	<xsd:restriction base="SecGroupFormIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupFormSecGroupIdType">
	<xsd:restriction base="SecGroupIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupFormSecAppIdType">
	<xsd:restriction base="SecAppIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupFormSecFormIdType">
	<xsd:restriction base="SecFormIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupFormRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupIncludeClusterIdType">
	<xsd:restriction base="ClusterIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupIncludeSecGroupIncludeIdType">
	<xsd:restriction base="SecGroupIncludeIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupIncludeSecGroupIdType">
	<xsd:restriction base="SecGroupIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupIncludeIncludeGroupIdType">
	<xsd:restriction base="SecGroupIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupIncludeRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupMemberClusterIdType">
	<xsd:restriction base="ClusterIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupMemberSecGroupMemberIdType">
	<xsd:restriction base="SecGroupMemberIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupMemberSecGroupIdType">
	<xsd:restriction base="SecGroupIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupMemberSecUserIdType">
	<xsd:restriction base="SecUserIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecGroupMemberRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecSessionSecSessionIdType">
	<xsd:restriction base="SecSessionIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecSessionSecUserIdType">
	<xsd:restriction base="SecUserIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecSessionSecDevNameType">
	<xsd:restriction base="DeviceNameType"/>
</xsd:simpleType>

<xsd:simpleType name="SecSessionStartType">
	<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>

<xsd:simpleType name="SecSessionFinishType">
	<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>

<xsd:simpleType name="SecSessionSecProxyIdType">
	<xsd:restriction base="SecUserIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecSessionRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserSecUserIdType">
	<xsd:restriction base="SecUserIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserLoginIdType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="32"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserEMailAddressType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="192"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserEMailConfirmationUuidType">
	<xsd:restriction base="xsd:string"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserDefaultDevSecUserIdType">
	<xsd:restriction base="SecUserIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserDefaultDevNameType">
	<xsd:restriction base="DeviceNameType"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserPasswordHashType">
	<xsd:restriction base="SHA512HexHashType"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserPasswordResetUuidType">
	<xsd:restriction base="xsd:string"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ServiceClusterIdType">
	<xsd:restriction base="ClusterIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="ServiceServiceIdType">
	<xsd:restriction base="ServiceIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="ServiceHostNodeIdType">
	<xsd:restriction base="HostNodeIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="ServiceServiceTypeIdType">
	<xsd:restriction base="ServiceTypeIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="ServiceHostPortType">
	<xsd:restriction base="xsd:short"/>
</xsd:simpleType>

<xsd:simpleType name="ServiceRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ServiceTypeServiceTypeIdType">
	<xsd:restriction base="ServiceTypeIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="ServiceTypeDescriptionType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="50"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ServiceTypeRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SysClusterSingletonIdType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SysClusterClusterIdType">
	<xsd:restriction base="ClusterIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="SysClusterRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupTenantIdType">
	<xsd:restriction base="TenantIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupTSecGroupIdType">
	<xsd:restriction base="TSecGroupIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="64"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupIncludeTenantIdType">
	<xsd:restriction base="TenantIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupIncludeTSecGroupIncludeIdType">
	<xsd:restriction base="TSecGroupIncludeIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupIncludeTSecGroupIdType">
	<xsd:restriction base="TSecGroupIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupIncludeIncludeGroupIdType">
	<xsd:restriction base="TSecGroupIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupIncludeRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupMemberTenantIdType">
	<xsd:restriction base="TenantIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupMemberTSecGroupMemberIdType">
	<xsd:restriction base="TSecGroupMemberIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupMemberTSecGroupIdType">
	<xsd:restriction base="TSecGroupIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupMemberSecUserIdType">
	<xsd:restriction base="SecUserIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="TSecGroupMemberRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="TenantClusterIdType">
	<xsd:restriction base="ClusterIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="TenantIdType">
	<xsd:restriction base="TenantIdGenType"/>
</xsd:simpleType>

<xsd:simpleType name="TenantTenantNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="192"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TenantRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<!-- ************************************************************************
 *
 *	Schema Primary Index Types
 *
 **************************************************************************-->

<xsd:complexType name="AuditActionIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="AuditActionId" type="AuditActionAuditActionIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ClusterIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="Id" type="ClusterIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="HostNodeIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ClusterId" type="HostNodeClusterIdType" use="required"/>
	<xsd:attribute name="HostNodeId" type="HostNodeHostNodeIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCountryIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="Id" type="ISOCountryIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCountryCurrencyIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ISOCountryId" type="ISOCountryCurrencyISOCountryIdType" use="required"/>
	<xsd:attribute name="ISOCurrencyId" type="ISOCountryCurrencyISOCurrencyIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCountryLanguageIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ISOCountryId" type="ISOCountryLanguageISOCountryIdType" use="required"/>
	<xsd:attribute name="ISOLanguageId" type="ISOCountryLanguageISOLanguageIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCurrencyIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="Id" type="ISOCurrencyIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOLanguageIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="Id" type="ISOLanguageIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOTimezoneIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ISOTimezoneId" type="ISOTimezoneISOTimezoneIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecAppIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ClusterId" type="SecAppClusterIdType" use="required"/>
	<xsd:attribute name="SecAppId" type="SecAppSecAppIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecDeviceIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecUserId" type="SecDeviceSecUserIdType" use="required"/>
	<xsd:attribute name="DevName" type="SecDeviceDevNameType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecFormIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ClusterId" type="SecFormClusterIdType" use="required"/>
	<xsd:attribute name="SecFormId" type="SecFormSecFormIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecGroupIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ClusterId" type="SecGroupClusterIdType" use="required"/>
	<xsd:attribute name="SecGroupId" type="SecGroupSecGroupIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecGroupFormIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ClusterId" type="SecGroupFormClusterIdType" use="required"/>
	<xsd:attribute name="SecGroupFormId" type="SecGroupFormSecGroupFormIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecGroupIncludeIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ClusterId" type="SecGroupIncludeClusterIdType" use="required"/>
	<xsd:attribute name="SecGroupIncludeId" type="SecGroupIncludeSecGroupIncludeIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecGroupMemberIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ClusterId" type="SecGroupMemberClusterIdType" use="required"/>
	<xsd:attribute name="SecGroupMemberId" type="SecGroupMemberSecGroupMemberIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecSessionIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecSessionId" type="SecSessionSecSessionIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecUserIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecUserId" type="SecUserSecUserIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ServiceIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ClusterId" type="ServiceClusterIdType" use="required"/>
	<xsd:attribute name="ServiceId" type="ServiceServiceIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ServiceTypeIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ServiceTypeId" type="ServiceTypeServiceTypeIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SysClusterIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SingletonId" type="SysClusterSingletonIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="TSecGroupIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="TenantId" type="TSecGroupTenantIdType" use="required"/>
	<xsd:attribute name="TSecGroupId" type="TSecGroupTSecGroupIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="TSecGroupIncludeIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="TenantId" type="TSecGroupIncludeTenantIdType" use="required"/>
	<xsd:attribute name="TSecGroupIncludeId" type="TSecGroupIncludeTSecGroupIncludeIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="TSecGroupMemberIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="TenantId" type="TSecGroupMemberTenantIdType" use="required"/>
	<xsd:attribute name="TSecGroupMemberId" type="TSecGroupMemberTSecGroupMemberIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="TenantIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="Id" type="TenantIdType" use="required"/>
</xsd:complexType>

<!-- ************************************************************************
 *
 *	Schema Table Object Types
 *
 **************************************************************************-->

<xsd:complexType name="AuditActionObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="AuditActionId" type="AuditActionAuditActionIdType" use="required"/>
	<xsd:attribute name="Description" type="AuditActionDescriptionType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ClusterObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="HostNode" type="HostNodeObjType" />
			<xsd:element name="Tenant" type="TenantObjType" />
			<xsd:element name="SecApp" type="SecAppObjType" />
			<xsd:element name="SecGroup" type="SecGroupObjType" />
			<xsd:element name="SysCluster" type="SysClusterObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="FullDomainName" type="ClusterFullDomainNameType" use="required"/>
	<xsd:attribute name="Description" type="ClusterDescriptionType" use="required"/>
</xsd:complexType>

<xsd:complexType name="HostNodeObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Service" type="ServiceObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Description" type="HostNodeDescriptionType" use="required"/>
	<xsd:attribute name="HostName" type="HostNodeHostNameType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCountryObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="ISOCountryCurrency" type="ISOCountryCurrencyObjType" />
			<xsd:element name="ISOCountryLanguage" type="ISOCountryLanguageObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="ISOCode" type="ISOCountryISOCodeType" use="required"/>
	<xsd:attribute name="Name" type="ISOCountryNameType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCountryCurrencyObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Currency" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCountryLanguageObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Language" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCurrencyObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="ISOCode" type="ISOCurrencyISOCodeType" use="required"/>
	<xsd:attribute name="Name" type="ISOCurrencyNameType" use="required"/>
	<xsd:attribute name="UnitSymbol" type="ISOCurrencyUnitSymbolType" use="optional"/>
	<xsd:attribute name="FracSymbol" type="ISOCurrencyFracSymbolType" use="optional"/>
	<xsd:attribute name="Precis" type="ISOCurrencyPrecisType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOLanguageObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="ISOCode" type="ISOLanguageISOCodeType" use="required"/>
	<xsd:attribute name="BaseLanguageCode" type="ISOLanguageBaseLanguageCodeType" use="required"/>
	<xsd:attribute name="ISOCountryId" type="ISOLanguageISOCountryIdType" use="optional"/>
</xsd:complexType>

<xsd:complexType name="ISOTimezoneObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="ISOTimezoneId" type="ISOTimezoneISOTimezoneIdType" use="required"/>
	<xsd:attribute name="Iso8601" type="ISOTimezoneIso8601Type" use="required"/>
	<xsd:attribute name="TZName" type="ISOTimezoneTZNameType" use="required"/>
	<xsd:attribute name="TZHourOffset" type="ISOTimezoneTZHourOffsetType" use="required"/>
	<xsd:attribute name="TZMinOffset" type="ISOTimezoneTZMinOffsetType" use="required"/>
	<xsd:attribute name="Description" type="ISOTimezoneDescriptionType" use="required"/>
	<xsd:attribute name="Visible" type="ISOTimezoneVisibleType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecAppObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="SecForm" type="SecFormObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="JEEMountName" type="SecAppJEEMountNameType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecDeviceObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="PubKey" type="SecDevicePubKeyType" use="optional"/>
</xsd:complexType>

<xsd:complexType name="SecFormObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="JEEServletMapName" type="SecFormJEEServletMapNameType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecGroupObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="SecGroupInclude" type="SecGroupIncludeObjType" />
			<xsd:element name="SecGroupMember" type="SecGroupMemberObjType" />
			<xsd:element name="SecGroupForm" type="SecGroupFormObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Name" type="SecGroupNameType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecGroupFormObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="App" type="xsd:string" use="required"/>
	<xsd:attribute name="Form" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecGroupIncludeObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="SubGroup" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecGroupMemberObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="User" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecSessionObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="SecDevName" type="SecSessionSecDevNameType" use="optional"/>
	<xsd:attribute name="Start" type="SecSessionStartType" use="required"/>
	<xsd:attribute name="Finish" type="SecSessionFinishType" use="optional"/>
	<xsd:attribute name="SecProxy" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecUserObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="SecDevice" type="SecDeviceObjType" />
			<xsd:element name="SecSession" type="SecSessionObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="LoginId" type="SecUserLoginIdType" use="required"/>
	<xsd:attribute name="EMailAddress" type="SecUserEMailAddressType" use="required"/>
	<xsd:attribute name="EMailConfirmationUuid" type="SecUserEMailConfirmationUuidType" use="optional"/>
	<xsd:attribute name="PasswordHash" type="SecUserPasswordHashType" use="required"/>
	<xsd:attribute name="PasswordResetUuid" type="SecUserPasswordResetUuidType" use="optional"/>
	<xsd:attribute name="DefDev" type="xsd:string" use="optional"/>
</xsd:complexType>

<xsd:complexType name="ServiceObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="HostPort" type="ServiceHostPortType" use="required"/>
	<xsd:attribute name="ServiceType" type="xsd:string" use="optional"/>
</xsd:complexType>

<xsd:complexType name="ServiceTypeObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Description" type="ServiceTypeDescriptionType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SysClusterObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TSecGroupObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="TSecGroupInclude" type="TSecGroupIncludeObjType" />
			<xsd:element name="TSecGroupMember" type="TSecGroupMemberObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Name" type="TSecGroupNameType" use="required"/>
</xsd:complexType>

<xsd:complexType name="TSecGroupIncludeObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="SubGroup" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="TSecGroupMemberObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="User" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="TenantObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="TSecGroup" type="TSecGroupObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="TenantName" type="TenantTenantNameType" use="required"/>
</xsd:complexType>

<!-- ************************************************************************
 *
 *	Schema Root Document
 *
 **************************************************************************-->

<xsd:complexType name="CFSecurityType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="AuditAction" type="AuditActionObjType" />
			<xsd:element name="Cluster" type="ClusterObjType" />
			<xsd:element name="ISOCountry" type="ISOCountryObjType" />
			<xsd:element name="ISOCurrency" type="ISOCurrencyObjType" />
			<xsd:element name="ISOLanguage" type="ISOLanguageObjType" />
			<xsd:element name="ISOTimezone" type="ISOTimezoneObjType" />
			<xsd:element name="SecUser" type="SecUserObjType" />
			<xsd:element name="ServiceType" type="ServiceTypeObjType" />
		</xsd:choice>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="CFSecurity" type="CFSecurityType" />

</xsd:schema>
